CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.DS_Store

build
app/*
bsp/*
lib/*
!app/*.cmake
!bsp/*.cmake
!lib/*.cmake

.vscode/*
!.vscode/launch.json
!.vscode/cmake-kits.json
!.vscode/settings-template-*.json
*.code-workspace

keys
